@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600&display=swap');

*{
   padding:0;
   margin:0;
   box-sizing: border-box;
   cursor:none;
}
html{
   font-family: 'JetBrains Mono', monospace;
   min-height: 100vh;
   background-color: black;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
h1{
   font-size: 5rem;
   background: linear-gradient(to bottom right, #8b54f1, #ed4e50);
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
   background-clip: text;
   display: inline-block;
}
h2{
   font-size: 4.5rem;
   display: flex;
   align-items: center;
   justify-content: center;
   background: linear-gradient(to bottom right, #8b54f1, #ed4e50);
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
   background-clip: text;
}
.cursor{
   position:absolute;
   left: 0;
   top: 0;
   /*border: 1.5px solid white;*/
   width: 20px;
   height: 20px;
   border-radius: 50px;
   transform: translate(-50%, -50%);
   pointer-events: none;
}
.cursor::after, .cursor::before{
   content:'';
   position: absolute;
   width:10px;
   height:10px;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   background-color: #15ff00;
   border-radius: 50px;
}
.cursor::before{
   background-color: #7fe975;
   /*transform: translate(-50%, -50%) scale(3);*/
}
.cursor.click::before{
   animation: click 0.5s ease-in-out forwards;
}
@keyframes click{
   0%{
      opacity: 1;
      transform:translate(-50%,-50%) scale(1);
   }
   100%{
      opacity: 0;
      transform:translate(-50%,-50%) scale(4);
   }
}
